// break point resources
$breakpoint-sp: 425px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 1024px;
$breakpoint-large-pc: 1440px;

// TODO: Using color variable after webpack.config to be merged
$blue: #1890ff;
$dark-blue: #001529;
$light-blue: #e6f7ff;
$white: white;
$black: black;
$border: #f0f0f0;
